.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.photo-wrapper {
  position: relative;
  margin: 40px;
  overflow: hidden;
  width: 20%;
  height: 40%;
}

.photo {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-text {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.photo-wrapper:hover .photo {
  opacity: 0;
}

.photo-wrapper:hover .overlay {
  opacity: 1;
}


@media (max-width: 912px) {

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photo-wrapper {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 60%;
  height: 85%;
}

.photo {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay-text {
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.photo-wrapper:hover .photo {
  opacity: 0;
}

.photo-wrapper:hover .overlay {
  opacity: 1;
}

}